<md-dialog-content>
    Вы действительно хотите удалить файл {{name}}?
</md-dialog-content>

<md-dialog-actions style="justify-content:space-around">
    <button md-button (click)="dialogRef.close(false)">Нет</button>
    <button md-button (click)="dialogRef.close(true)">Да</button>
</md-dialog-actions>