<md-toolbar color="primary">
    <span class="left">
        <button md-icon-button (click)="toggleSidenav()"><md-icon>menu</md-icon></button>
        <div [routerLink]="['/calendar']">health</div>
    </span>

    <span class="clear-space"></span>

    <span class="right">
        <button md-icon-button (click)="toggleNotifications()">
            <md-icon>notifications</md-icon>
            <span class="notification-label">5</span>
        </button>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>person</md-icon>
        </button>

        <md-menu #menu="mdMenu">
            <button md-menu-item [routerLink]="['/profile']">
                <md-icon>person</md-icon>
                <span>Профиль</span>
            </button>
            <button md-menu-item (click)="signOut()">
                <md-icon>exit_to_app</md-icon>
                <span>Выйти</span>
            </button>
        </md-menu>
    </span>
</md-toolbar>