md-toolbar {
    z-index: 1;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    position: relative;
}

.left {
    display: flex;
    & div {
        outline: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Podkova;
        font-size: 28px;
        cursor: pointer;
    }
}

.clear-space {
    flex: 1;
}

.notification-label {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #f44336;
    border: 4px solid #f44336;
    color: #fff;
    text-align: center;
}