@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
:host {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $primary-color;
}

.auth-container {
    max-width: 400px;
    min-width: 400px;
}

.logo {
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Podkova-ExtraBold;
    color: $primary-color;
    font-size: 20px;
    outline: initial;
    cursor: pointer;
    & span {
        font-family: Podkova-Bold;
        color: initial;
    }
}

.social {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    & .vk:hover {
        background: $vk-color;
        color: white;
    }
    & .facebook:hover {
        background: $facebook-color;
        color: white;
    }
    & .google:hover {
        background: $google-color;
        color: white;
    }
}

md-input-container {
    width: 100%;
    margin-top: 10px;
}

.form,
.logged,
.submit,
.footer {
    margin-bottom: 20px;
}

.submit {
    & button {
        width: 100%;
        background: $primary-color;
        color: white;
    }
    & button[disabled] {
        background: rgba(0, 0, 0, .12);
        color: rgba(0, 0, 0, .38);
        box-shadow: none;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    & a {
        cursor: pointer;
    }
}

.info {
    color: rgba(0, 0, 0, .54);
    text-align: center;
    & p:nth-child(2) {
        cursor: pointer;
    }
}