<div class="auth-container">
    <md-card>
        <md-card-content>
            <div class="logo" [routerLink]="['/home']">H<span>ealth</span>.</div>
            <div [ngSwitch]="state">
                <div *ngSwitchCase="'signin'">
                    <div class="info">
                        <p>{{info}}</p>
                    </div>
                    <div class="social">
                        <button class="vk" md-raised-button (click)="choiceSocial('vk')">
                            <fa [name]="'vk'"></fa>
                        </button>
                        <button class="facebook" md-raised-button (click)="choiceSocial('facebook')">
                            <fa [name]="'facebook'"></fa>
                        </button>
                        <button class="google" md-raised-button (click)="choiceSocial('google')">
                            <fa [name]="'google'"></fa>
                        </button>
                    </div>
                    <form class="form" action="submit" [formGroup]="signInForm">
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="email" type="text" placeholder="Почта">
                        </md-input-container>
                        <health-error-message [control]="signInForm.controls.email"></health-error-message>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="password" type="password" placeholder="Пароль">
                        </md-input-container>
                        <health-error-message [control]="signInForm.controls.password"></health-error-message>
                    </form>
                    <div class="logged">
                        <md-checkbox value="" color="primary">Оставаться в сети</md-checkbox>
                    </div>
                    <div class="submit">
                        <button md-raised-button (click)="signIn()" type="submit" [disabled]="!signInForm.valid">Войти</button>
                    </div>
                    <div class="footer">
                        <a (click)="changeTemplate('forgot')">Забыли пароль?</a>
                        <a (click)="changeTemplate('signup')">Создать новый аккаунт</a>
                    </div>
                </div>
                <div *ngSwitchCase="'forgot'">
                    <div class="info">
                        <p>{{info}}</p>
                    </div>
                    <form class="form" [formGroup]="forgotForm">
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="email" type="text" placeholder="Почта">
                        </md-input-container>
                        <health-error-message [control]="forgotForm.controls.email"></health-error-message>
                    </form>
                    <div class="submit">
                        <button md-raised-button (click)="forgot()" [disabled]="!forgotForm.valid">Отправить</button>
                    </div>
                    <div class="footer">
                        <a (click)="changeTemplate('signin')">Войти</a>
                        <a (click)="changeTemplate('signup')">Создать новый аккаунт</a>
                    </div>
                </div>
                <div *ngSwitchCase="'signup'">
                    <div class="info">
                        <p>{{info}}</p>
                        <p *ngIf="isSocialSignUp" (click)="changeTemplate('signin', true)">Привязать к существующему аккаунт?</p>
                    </div>
                    <div class="social">
                        <button class="vk" md-raised-button (click)="choiceSocial('vk')">
                            <fa [name]="'vk'"></fa>
                        </button>
                        <button class="facebook" md-raised-button (click)="choiceSocial('facebook')">
                            <fa [name]="'facebook'"></fa>
                        </button>
                        <button class="google" md-raised-button (click)="choiceSocial('google')">
                            <fa [name]="'google'"></fa>
                        </button>
                    </div>
                    <form class="form" [formGroup]="signUpForm">
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="email" type="text" placeholder="Почта">
                        </md-input-container>
                        <health-error-message [control]="signUpForm.controls.email"></health-error-message>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="lastName" type="text" placeholder="Фамилия">
                        </md-input-container>
                        <health-error-message [control]="signUpForm.controls.lastName"></health-error-message>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="firstName" type="text" placeholder="Имя">
                        </md-input-container>
                        <health-error-message [control]="signUpForm.controls.firstName"></health-error-message>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="password" type="password" placeholder="Пароль">
                        </md-input-container>
                        <health-error-message [control]="signUpForm.controls.password"></health-error-message>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="passwordRepeat" type="password" placeholder="Повторите пароль">
                        </md-input-container>
                        <health-error-message [control]="signUpForm.controls.passwordRepeat"></health-error-message>
                    </form>
                    <div class="submit">
                        <button md-raised-button (click)="signUp()" [disabled]="!signUpForm.valid">Отправить</button>
                    </div>
                    <div class="footer">
                        <a (click)="changeTemplate('forgot')">Забыли пароль?</a>
                        <a (click)="changeTemplate('signin')">Войти</a>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>