<md-toolbar color="primary">
    <span></span>
    <md-toolbar-row>
    </md-toolbar-row>
</md-toolbar>

<div class="content" *ngIf="user && selectedInterlocutor">
    <div class="card-wrapper">
        <md-card>
            <md-sidenav-container>
                <md-sidenav #sidenav mode="side" align="start" opened="true">
                    <md-toolbar>
                        <span></span>
                    </md-toolbar>
                    <md-nav-list>
                        <md-list-item [ngClass]="{active: interlocutor.id === selectedInterlocutor.id}" *ngFor="let interlocutor of interlocutors"
                            (click)="chooseInterlocutor(interlocutor)">
                            <img md-list-avatar [src]="interlocutor.photo" alt=":">
                            <h3 md-line>{{interlocutor.firstName}} {{interlocutor.lastName}}</h3>
                        </md-list-item>
                    </md-nav-list>
                </md-sidenav>
                <md-toolbar>
                    <div class="toolbar-row">
                        <span>
                            <button md-icon-button (click)="sidenav.toggle()"><md-icon>short_text</md-icon></button>
                        </span>
                        <span>
                            <img src="{{selectedInterlocutor.photo}}" alt="">
                            <div>{{selectedInterlocutor.firstName}} {{selectedInterlocutor.lastName}}</div>
                        </span>
                        <span>
                            <button md-icon-button><md-icon>more_vert</md-icon></button>
                        </span>
                    </div>
                </md-toolbar>
                <md-card-content class="chat-content">
                    <div class="chat-conversation" [ngClass]="{'them': isIncoming(message), 'me': !isIncoming(message)}" *ngFor="let message of getCurrentChatMessages">
                        <div class="message">
                            <p>
                                {{message.message}}
                                <span>{{message.date | date:'dd.mm.yyyy HH:mm:ss'}}</span>
                            </p>
                        </div>
                    </div>
                </md-card-content>
                <md-card-actions class="chat-actions">
                    <div>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput type="text" placeholder="Ваше сообщение..." (keyup)="onInputPressKey($event)" [(ngModel)]="messageText" autocomplete="off">
                        </md-input-container>
                        <button md-fab (click)="sendMessage()" color="accent">
                            <md-icon class="md-18">send</md-icon>
                        </button>
                    </div>
                </md-card-actions>
            </md-sidenav-container>
        </md-card>
    </div>
</div>