@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 100%;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    margin: 5px;
}

.card-wrapper {
    flex: 100%;
    box-sizing: border-box;
    max-width: 90%;
    @media #{$xs} {
        flex: 100%;
        max-width: 100%;
    }
    @media #{$sm} {
        flex: 100%;
        max-width: 100%;
    }
}

md-card {
    margin-top: -50px;
    padding: 0;
}

.toolbar-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & span:nth-child(2) {
        display: flex;
        & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 20px;
        }
        & div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.interlocutors {
    & img {
        max-width: 50px;
        max-height: 50px;
    }
}

.chat-content {
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
    padding: 1rem;
    margin-bottom: 0;
    position: relative;
}

.chat-actions {
    padding: .5rem;
    margin: 0;
}

md-sidenav-container {
    & md-toolbar {
        box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    }
}

.chat-conversation {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 2rem;
    display: flex;
}

.message {
    position: relative;
    padding: .625rem 1rem;
    border-radius: 4px;
    & p {
        margin: 0;
        word-break: break-all;
        & span {
            display: block;
            font-size: 11px;
            padding-top: 2px;
        }
    }
}

.them {
    & .message {
        background-color: red;
        &:after {
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            content: "";
            border: 5px solid red;
            border-bottom-color: transparent;
            left: -7px;
            border-left-color: transparent;
        }
    }
}

.me {
    justify-content: flex-end;
    order: 1;
    & .message {
        background: #ffd740;
        float: right;
        &:after {
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            content: "";
            border: 5px solid #ffd740;
            border-top-color: transparent;
            border-right-color: transparent;
            right: -7px;
        }
    }
}

md-card-actions {
    & div {
        display: flex;
        & md-input-container {
            flex: 1;
            box-sizing: border-box;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}

md-list-item {
    &.active {
        background: rgba(0, 0, 0, .04);
    }
}