<div *ngIf="!addition;else addTemplate">
    <md-dialog-content>
        <h3 class="date">
            {{date | date}}
        </h3>
        <div class="date" *ngIf="role === 1">
            {{doctor.firstName}} {{doctor.lastName}}
        </div>
        <div class="time-list">
            <div *ngFor="let time of times" class="time">
                <div>
                    {{time.time.start | date:'shortTime'}} - {{time.time.end | date:'shortTime'}}
                </div>
                <div (click)="selectTime(time)" [attr.disabled]="time.busy">
                    {{time.busy ? 'Занято' : 'Записаться'}}
                </div>
            </div>
        </div>
    </md-dialog-content>


    <md-dialog-actions style="justify-content:space-around">
        <button md-button (click)="dialogRef.close(false)">Закрыть</button>
    </md-dialog-actions>
</div>

<ng-template #addTemplate>
    <md-dialog-content>
        <div class="date">
            Записаться на {{selectedTime.time.start | date:'shortTime'}} - {{selectedTime.time.end | date:'shortTime'}} к доктору {{doctor.firstName}}
            {{doctor.lastName}}?
        </div>
    </md-dialog-content>


    <md-dialog-actions style="justify-content:space-around">
        <button md-button (click)="add()">Запись</button>
        <button md-button (click)="addition = false">Отмена</button>
    </md-dialog-actions>
</ng-template>