.date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.time {
    display: flex;
    margin: 5px;
    & div:nth-child(1) {
        min-width: 120px;
    }
    & div:nth-child(2) {
        cursor: pointer;
        &[disabled="true"] {
            cursor: context-menu;
            opacity: 0.3;
            pointer-events: none;
            user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
}