<md-dialog-content>
    <div>
        Переименовать файл {{name}}?
    </div>
    <md-input-container style="width:100%">
        <input mdInput type="text" [(ngModel)]="newName">
    </md-input-container>
</md-dialog-content>

<md-dialog-actions style="justify-content:space-around">
    <button md-button (click)="dialogRef.close(false)">Отмена</button>
    <button md-button (click)="dialogRef.close(true)">Сохранить</button>
</md-dialog-actions>