<md-toolbar color="primary">
    <span></span>
    <md-toolbar-row>
    </md-toolbar-row>
</md-toolbar>
<div class="content">
    <div class="card-wrapper">
        <md-card>
            <md-accordion>
                <md-expansion-panel [hideToggle]="false">
                    <md-expansion-panel-header>
                        <mat-panel-title>Добавление нового врача</mat-panel-title>
                    </md-expansion-panel-header>
                    <div class="image">
                        <div (click)="choosePhoto()" class="image-container">
                            <div *ngIf="!src">Загрузите фото</div>
                            <img src="{{src}}" alt="" *ngIf="src">
                        </div>
                        <input #image accept="image/jpg, image/png" type="file" (change)="onFileChange($event)">
                    </div>

                    <form [formGroup]="form" class="new-doctor">
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="lastName" type="text" placeholder="Фамилия">
                        </md-input-container>

                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="firstName" type="text" placeholder="Имя">
                        </md-input-container>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="type" type="text" placeholder="Специализация">
                        </md-input-container>
                        <md-input-container floatPlaceholder="auto">
                            <textarea mdInput formControlName="about" type="text" placeholder="Описание"></textarea>
                        </md-input-container>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput formControlName="password" type="text" placeholder="Пароль">
                        </md-input-container>
                    </form>

                    <md-action-row>
                        <button md-button (click)="addNewDoctor()" [disabled]="!form.valid">Добавить</button>
                        <button md-button (click)="clear()">Очистить</button>
                    </md-action-row>
                </md-expansion-panel>

                <md-expansion-panel [hideToggle]="false">
                    <md-expansion-panel-header>
                        <mat-panel-title>Редактирование времени работы</mat-panel-title>
                    </md-expansion-panel-header>
                    <form action="" class="new-time">
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput type="number" placeholder="Начало" [(ngModel)]="workTime.start" name="start">
                            <span mdSuffix>:00</span>
                        </md-input-container>
                        <md-input-container floatPlaceholder="auto">
                            <input mdInput type="number" placeholder="Конец" [(ngModel)]="workTime.end" name="end">
                            <span mdSuffix>:00</span>
                        </md-input-container>
                    </form>
                    <md-action-row>
                        <button md-button (click)="saveTime()">Сохранить</button>
                    </md-action-row>
                </md-expansion-panel>
            </md-accordion>
        </md-card>
    </div>
</div>