@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 100%;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    margin: 5px;
}

.card-wrapper {
    flex: 55%;
    box-sizing: border-box;
    max-width: 55%;
    @media #{$xs} {
        flex: 100%;
        max-width: 100%;
    }
    @media #{$sm} {
        flex: 100%;
        max-width: 100%;
    }
}

md-card {
    margin-top: -64px;
}

.image {
    display: flex;
    justify-content: center;
    align-content: center;
    & input {
        display: none;
    }
    & .image-container {
        height: 200px;
        box-sizing: border-box;
        border: 2px dashed lightgrey;
        width: 400px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        @media #{$xs} {
            width: 100%;
        }
        & img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.new-doctor {
    margin: 10px 0;
    & md-input-container {
        width: 100%;
    }
}

.new-time {
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    & md-input-container {
        width: 80px;
        & input {
            text-align: end;
        }
    }
}