<div *ngIf="doctor">
    <div>{{doctor.lastName}}</div>
    <img [src]="doctor.photo" alt="">
    <div>Краткое описание</div>
    <button md-raised-button [routerLink]="['/auth', doctor.id]">Записаться</button>
</div>