@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 100%;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    margin: 5px;
}

.card-wrapper {
    flex: 55%;
    box-sizing: border-box;
    max-width: 55%;
    @media #{$xs} {
        flex: 100%;
        max-width: 100%;
    }
    @media #{$sm} {
        flex: 100%;
        max-width: 100%;
    }
}

md-card {
    margin-top: -64px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 20px 0;
    cursor: pointer;
    & img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5%;
    }
    & input {
        display: none;
    }
}

.name {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

form {
    margin: 20px 0;
    & md-input-container {
        width: 100%;
    }
    & md-select {
        width: 100%;
        margin: 20px 0;
    }
    & md-radio-group {
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.save {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
        width: 100%;
        background: $primary-color;
        color: white;
        &[disabled] {
            background: rgba(0, 0, 0, .12);
            color: rgba(0, 0, 0, .38);
            box-shadow: none;
        }
    }
}

// TODO temporary
.doctor {
    margin: 10px 0;
    cursor: pointer;
    &.selected {
        background-color: rgba(0, 0, 0, 0.04);
    }
}