<md-toolbar color="primary">
    <span></span>
    <md-toolbar-row>
    </md-toolbar-row>
</md-toolbar>
<div class="content" *ngIf="user">
    <div class="card-wrapper">
        <md-card>
            <md-card-content>
                <md-tab-group>
                    <md-tab label="Профиль">
                        <div class="image" (click)="choosePhoto()">
                            <img src="{{user.photo}}" alt="">
                            <input #image accept="image/jpg, image/png" type="file" (change)="onFileChange($event.target.files[0])">
                        </div>
                        <div class="name">{{user.firstName}} {{user.lastName}}</div>
                        <form [formGroup]="form">
                            <md-input-container floatPlaceholder="auto">
                                <input mdInput formControlName="lastName" type="text" placeholder="Фамилия">
                            </md-input-container>
                            <md-input-container floatPlaceholder="auto">
                                <input mdInput formControlName="firstName" type="text" placeholder="Имя">
                            </md-input-container>
                            <md-input-container floatPlaceholder="auto">
                                <input mdInput formControlName="middleName" type="text" placeholder="Отчество">
                            </md-input-container>
                            <md-input-container floatPlaceholder="auto">
                                <input mdInput formControlName="birth" type="text" placeholder="День Рождения">
                            </md-input-container>
                            <md-input-container floatPlaceholder="auto">
                                <input mdInput formControlName="phone" type="text" placeholder="Телефон">
                            </md-input-container>
                            <md-input-container floatPlaceholder="auto">
                                <textarea mdInput formControlName="location" placeholder="Адрес"></textarea>
                            </md-input-container>
                            <md-select formControlName="doctors" placeholder="Доктора" multiple *ngIf="user.role === 1">
                                <md-option *ngFor="let doctor of allDoctors" [value]="doctor">
                                    {{doctor.firstName}} {{doctor.lastName}} (терапевт)
                                </md-option>
                            </md-select>
                            <health-error-message [control]="form.controls.doctors" *ngIf="user.role === 1"></health-error-message>
                            <md-radio-group formControlName="gender" [align]="'start'">
                                <md-radio-button name="gender" [value]="'male'">
                                    Мужчина
                                </md-radio-button>
                                <md-radio-button name="gender" [value]="'female'">
                                    Женщина
                                </md-radio-button>
                                <md-radio-button name="gender" [value]="''">
                                    Не указан
                                </md-radio-button>
                            </md-radio-group>
                        </form>
                        <div class="save">
                            <button md-raised-button [disabled]="!form.valid" (click)="save()">Сохранить</button>
                        </div>
                    </md-tab>
                    <md-tab label="Дополнительно">
                    </md-tab>

                </md-tab-group>
            </md-card-content>
        </md-card>
    </div>
</div>