<md-toolbar color="primary">
    <span class="left">{{viewDate | calendarDate:(view + 'ViewTitle'):locale }}</span>
    <span class="center">
        <button  md-icon-button (click)="panel.toggle()" *ngIf="user.role === 1">
            <md-icon>expand_more</md-icon>
        </button>
    </span>
    <span class="right">
        <button  md-icon-button (click)="decrement()">
            <md-icon>chevron_left</md-icon>
        </button>
        <button  md-icon-button (click)="today()">
            <md-icon>today</md-icon>
        </button>
        <button  md-icon-button (click)="increment()">
            <md-icon>chevron_right</md-icon>
        </button>
    </span>
</md-toolbar>
<md-expansion-panel #panel>
    <md-tab-group (selectChange)="selectChange($event)">
        <md-tab [label]="doctor.lastName" *ngFor="let doctor of doctors">
        </md-tab>
        <md-tab [label]="'+'">
        </md-tab>
    </md-tab-group>
</md-expansion-panel>