<md-toolbar color="primary">
    <span></span>
    <md-toolbar-row>
    </md-toolbar-row>
</md-toolbar>
<div class="content">
    <div class="card-wrapper">
        <md-card>
            <md-tab-group>
                <md-tab label="Файлы">
                    <div class="control">
                        <button md-icon-button (click)="delete()" [disabled]="!selectedFile">
                            <md-icon class="md-24">delete</md-icon>
                        </button>
                        <button md-icon-button (click)="rename()" [disabled]="!selectedFile">
                            <md-icon class="md-24">create</md-icon>
                        </button>
                        <button md-icon-button (click)="show()" [disabled]="!selectedFile">
                            <md-icon class="md-24">visibility</md-icon>
                        </button>
                        <button md-icon-button (click)="download()" [disabled]="!selectedFile">
                            <md-icon class="md-24">file_download</md-icon>
                        </button>
                    </div>
                    <md-divider></md-divider>
                    <div class="files-list">
                        <div class="file" *ngFor="let file of files" (click)="onFileClick(file)" [ngClass]="{selected: file.id === selectedFile?.id}">
                            <div class="file-icon">
                                <fa [name]="setIcon(file)" [size]="3"></fa>
                            </div>
                            <div class="file-name" [mdTooltip]="file.originalName">
                                {{file.originalName}}
                            </div>
                        </div>
                    </div>
                </md-tab>
                <md-tab label="Загрузить">
                    <health-dropzone (uploadEvent)="upload($event)"></health-dropzone>
                </md-tab>
            </md-tab-group>
        </md-card>
    </div>
</div>