@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 100%;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    margin: 5px;
}

.card-wrapper {
    flex: 55%;
    box-sizing: border-box;
    max-width: 55%;
    @media #{$xs} {
        flex: 100%;
        max-width: 100%;
    }
    @media #{$sm} {
        flex: 100%;
        max-width: 100%;
    }
}

md-card {
    margin-top: -64px;
}

.control {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
}

.files-list {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.file {
    max-width: 110px;
    min-width: 110px;
    height: 110px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
        background: lightgray;
    }
    &.selected {
        background: lightgray;
    }
}

.file-name {
    margin: 10px 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
}