<md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="false" class="left-sidenav">
        <md-nav-list>
            <md-list-item [routerLink]="['/calendar']" routerLinkActive="active">
                <fa [name]="'calendar'"></fa>
                <span>Календарь</span>
            </md-list-item>
            <md-list-item [routerLink]="['/profile']" routerLinkActive="active">
                <fa [name]="'user'"></fa>
                <span>Профиль</span>
            </md-list-item>
            <md-list-item [routerLink]="['/files']" routerLinkActive="active">
                <fa [name]="'file'"></fa>
                <span>Файлы</span>
            </md-list-item>
            <md-list-item [routerLink]="['/chat']" routerLinkActive="active">
                <fa [name]="'comment'"></fa>
                <span>Чат</span>
            </md-list-item>
            <md-list-item [routerLink]="['/admin']" routerLinkActive="active" *ngIf="isAdmin">
                <fa [name]="'lock'"></fa>
                <span>Администрирование</span>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
    <md-sidenav #notifications mode="over" align="end" opened="false" class="right-sidenav">
        <md-tab-group>
            <md-tab label="Сегодня">
                Сегодня
            </md-tab>
            <md-tab label="Нотификации">
                Нотификации
            </md-tab>
        </md-tab-group>
    </md-sidenav>
</md-sidenav-container>