:host {
    flex: 1;
}

md-sidenav-container {
    height: 100%;
}

.left-sidenav,
.right-sidenav {
    overflow-x: hidden;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)!important;
}

.left-sidenav {
    width: 250px;
}

.right-sidenav {
    width: 320px;
}

md-nav-list {
    padding: 8px 0;
    display: block;
}

md-list-item {
    & fa {
        margin-right: 20px;
    }
}

.active {
    background: rgba(0, 0, 0, .04);
}