@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "/assets/styles/fonts.scss";
html,
body {
    height: 100%;
}

body {
    margin: initial;
}

.cal-disabled {
    background-color: #eee;
    pointer-events: none;
}

.cal-disabled .cal-day-number {
    opacity: 0.1;
}