@font-face {
	font-family: 'Podkova';
	src: url('/assets/fonts/Podkova-Regular.eot');
	src: url('/assets/fonts/Podkova-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Podkova-Regular.woff') format('woff'),
		url('/assets/fonts/Podkova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Podkova-Bold';
	src: url('/assets/fonts/Podkova-Bold.eot');
	src: url('/assets/fonts/Podkova-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Podkova-Bold.woff') format('woff'),
		url('/assets/fonts/Podkova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Podkova-ExtraBold';
	src: url('/assets/fonts/Podkova-ExtraBold.eot');
	src: url('/assets/fonts/Podkova-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Podkova-ExtraBold.woff') format('woff'),
		url('/assets/fonts/Podkova-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Podkova-Medium';
	src: url('/assets/fonts/Podkova-Medium.eot');
	src: url('/assets/fonts/Podkova-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Podkova-Medium.woff') format('woff'),
		url('/assets/fonts/Podkova-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Podkova-SemiBold';
	src: url('/assets/fonts/Podkova-SemiBold.eot');
	src: url('/assets/fonts/Podkova-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Podkova-SemiBold.woff') format('woff'),
		url('/assets/fonts/Podkova-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}