$primary-color: #3f51b5;
$secondary-color: green;
$facebook-color:#3b5998;
$vk-color:#45668e;
$google-color:#dd4b39;
$xs: 'screen and (max-width: 599px)';
$sm: 'screen and (min-width: 600px) and (max-width: 959px)';
$md: 'screen and (min-width: 960px) and (max-width: 1279px)';
$lg: 'screen and (min-width: 1280px) and (max-width: 5000px)'