<health-calendar-header [(view)]="view" (viewDateChange)="selectToday($event)" [(viewDate)]="viewDate" [doctors]="user?.doctors"
    (doctorEvent)="doctorSelect($event)"></health-calendar-header>

<md-card class="calendar-container">
    <mwl-calendar-month-view 
        (dayClicked)="dayClicked($event.day)" 
        [weekStartsOn]="weekStartsOn" 
        [locale]="locale" 
        [viewDate]="viewDate" 
        (beforeViewRender)="beforeMonthViewRender($event)"
        [events]="events">
        <!-- [openDayEventsTemplate]="customOneDayViewTemplate" (dayClicked)="dayClicked($event.day)" -->
    </mwl-calendar-month-view>
</md-card>