<div>
    <a md-raised-button [routerLink]="['/auth']">Войти</a>
</div>
<div>
    Logo & descriptions
</div>
<div class="doctors-list" *ngIf="doctors.length > 0">
    <md-card *ngFor="let doctor of doctors" [routerLink]="['/doctor', doctor.id]">
        <md-card-header>
            <md-card-title>{{doctor.firstName}} {{doctor.lastName}}</md-card-title>
            <md-card-subtitle>Терапевт</md-card-subtitle>
        </md-card-header>
        <img mdCardImage src="{{doctor.photo}}">
        <md-card-content>
            Краткое Описание
        </md-card-content>
    </md-card>
</div>