<div class="dropzone" (click)="onDropzoneClick()" healthDropzone (filesDropped)="onFilesDropped($event)">
    <input #input multiple type="file" (change)="onFilesDropped($event.target.files)"> Выберите файлы
</div>
<md-card-content class="dropzone-content">
    <div class="files-list mat-elevation-z8">
        <md-table [dataSource]="dataSource">
            <ng-container cdkColumnDef="name">
                <md-header-cell *cdkHeaderCellDef> Название </md-header-cell>
                <md-cell *cdkCellDef="let row" class="name-row"> {{row.name}} </md-cell>
            </ng-container>
            <ng-container cdkColumnDef="size">
                <md-header-cell *cdkHeaderCellDef> Размер </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{formatBytes(row.size)}} </md-cell>
            </ng-container>
            <ng-container cdkColumnDef="action">
                <md-header-cell *cdkHeaderCellDef> Действие </md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <button md-raised-button (click)="delete(row)">Удалить</button>
                </md-cell>
            </ng-container>
            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </div>
</md-card-content>
<md-divider></md-divider>
<md-card-actions align="start" class="dropzone-actions">
    <button md-raised-button (click)="upload()" [disabled]="files.length === 0">Загрузить</button>
    <button md-raised-button (click)="clear()" [disabled]="files.length === 0">Очистить</button>
</md-card-actions>