@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
.dropzone {
    margin: 20px 0;
    height: 70px;
    border: 2px dashed #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & input {
        display: none;
    }
}

.dropzone-content {
    margin: 20px 0;
    position: relative;
}

.dropzone-actions {
    padding: .5rem;
    margin: 0;
    display: flex;
    & button {
        background: $primary-color;
        width: 100%;
        color: white;
        &[disabled] {
            background: rgba(0, 0, 0, .12);
            color: rgba(0, 0, 0, .38);
            box-shadow: none;
        }
    }
}

.files-list {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
}

.name-row {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}